body{
    direction:rtl;
    text-align:right;
    margin:0;
}
header{
    height:105px;
    background-color: rgb(144,144,144);
    margin-bottom :15px;
    padding-right:250px;
    background: linear-gradient(to bottom, rgb(144,144,144) 90%, rgb(170, 170, 170));
  }
form{
    margin-right:65%;
    padding-top:1%;
    margin-top:-15px;
    height:20px;
}
input {
    width: 30%;
    margin-top:0;
    border-top-right-radius: 10px;
}
#form1{
    color:white;
}
#form2{
    color:white;
    padding:0;
    font-size:0.8em;
    margin:0;
    margin-right:0;
    position: relative;
    margin-top:5px;
    top: 5px;
    }
/*  עיצוב לגבי התפריט*/
#pic1{
    margin-right:40px;
    margin-top:1%;
    }
#pic1a{
    margin-right:8px;
    top:-56px; 
    position: relative; 
}
.pic2{
   /*  margin-top:20px;   */
  padding-top: 10px;
  position: relative; 
  margin: 0 16px;
  bottom: -3px;
  height: 13px;
  margin: 8px;
     
}
nav{
       width:700px;
    margin-right: 250px;
    margin-top: -95px;
    height: 70px;     
}
.dropbtn{
    border:5px solid black;    
}
.dropdown {
    position: relative;
    display: inline-block;
    top:-12px;
        color: white;
     font-size: 15px;
    border: none;
    height:50px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(144,144,144);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:white;
    max-height: 70vh;
    letter-spacing: -1px;
    width:100px;
    padding:1px;
}
.dropdown-content a {
    color: white;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
    font-family: monospace;
    letter-spacing: -1px;
    border-bottom-color: white;
}
.rek{
    width:52px;
}
.dropdown-content a:hover {
    background-color: rgb(144,144,144);
    letter-spacing: -1px;
color:blue;
border-bottom:1px solid white;
border-top:1px solid white;
}

.dropdown:hover .dropdown-content {
    display: block;
    color:white;
    border-bottom-color: white;
    border:2px solid peru;
    letter-spacing: -1px;
    border-bottom-color: white;
}
.dropdown:hover .dropbtn {
    background-color: rgb(144,144,144);
color:blue;
/*border-bottom-color: white;  */
letter-spacing: -1px;
}
/* סוף עיצוב התפריט */
container{
    margin-top: 15px;
}
.incon{
    width:900px;
    margin:0 auto;
  position:relative;
    height:4=80vh;
}
.text-on-line1{
height: 90px;
width:228px;
background-color: rgba(144,144,144,0.9);
margin-top:-120px;
color:white;
margin-right:20px;  
position: absolute;
z-index:1;
border-bottom-right-radius: 25px;
overflow:hidden;
margin-bottom: 15px;
padding-bottom: 10px;
}
.text-on-pic{
    position: absolute;
    margin-right:-100px;
    border:2px solid blue;
    padding-right:10px;
    padding-top: 8px;
    padding-bottom: 10px;
}
h3{font-weight:bold;
font-size: 14px;
margin:0;
padding-right:5px;
}
.p-on-text{
    font-size: 13px;
    margin-top: 4px;
    padding-right:5px;  
}
.empty-squares{
    height:216px;
    margin-top:350px;
    border-top-right-radius: 25px;
}
.em-sqarle{
    width:95%;
    border-bottom-right-radius: 25px;
    margin-top:10px;
     padding-right: 6px;
     padding-left: 6px;
     height:216px;
}

h6{
    text-align: center;
}
section{
    width:33%;
    float:right; 
}
#first-line-img{
    width:95%;
    border-bottom-right-radius: 25px;
    margin-top:35px;
     padding-right: 6px;
     padding-left: 6px;
     position: relative;
}
.second-line-square{
    border:1px solid grey;
    border-top-right-radius: 25px;
    padding-right: 6px;
    padding-left: 6px;
    margin:8px;
    height:240px;
}
#second-line-img{
    width:95%;
    margin-top:10px;
     margin-bottom:15px;
     padding-right: 6px;
     padding-left: 6px;
}
#second-line-img3{
    width:75px;
    height:130px;
   margin-top:2%;
    margin-right:60%;
    margin-bottom: -10%;
   /* top:-10%;  */
   /* bottom: -10%;   */
    position: absolute;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.yellow-dots{
    margin-bottom: 30px; 
    margin-right:245px; 
    top:-13px; 
    position: relative;
}
.bottom-image{
    margin-right:170px;
    font-size:14px;
    width:50px;
    margin-bottom: 30px; 
    color:grey;
    text-decoration: none;
}  
.yellow-dots:hover{
    color:blue;
}
  .bottom-image:hover{
    color:blue;
}
#last-p{
    font-size:0.7em;
    margin-right:15%;
    position: absolute;
    padding:10px;
}
.last-div{
    position:relative;
    }
button{top:10px;
    margin-top:640px;
    border:2px solid red;
   margin-left:-50px;
    font-size:14px;
    margin-right:0px;
    position: relative;
}